<br>
  <h3><b>School Rule for Students</b></h3>
  <p>1. Students are required to bring their School Dairy to the School every day.  </p>
  <p> 2. Students are required to reach the school at least Five Minutes before the first bell (pre-assembly) is rung.</p>
  <p>3. Students are required to go to the assembly ground as soon as the second bell (pre-assembly) is rung.</p>
  <p>4. Students are expected to be neatly dresses in the prescribed school uniform, with shoes polished and hair done properly. Student who are improperly or shabbily dressed would be sent back home. 
    </p>
  <p>5. Students are advised to make use of the dust bins provided for throwing bits of paper etc. They are expected to keep the school campus neat and clean. Students must take care of the school properly. Damaging school, furniture, writing on walls or disfiguring school properly will be dealt and strictly. Reports regarding damage to school property should be made to class teachers or Principal. 
    </p>
  <p>6.Students are advised not to bring costly articles, jewellery etc. to the school. Any loss of the articles should be informed to class teachers or Principal and School shall not be responsible for such loss. 
    </p>
  <p>7. Students are advised to deposit articles found in the school to their class teachers. 
    </p>
  <p>8. Students are required to keep their bicycle duly looked at the cycle stand and obtain token for the same, Else School shall not be responsible for such loss. 
    </p>
  <p>9. Students are not allowed to use office telephones without the permission.</p>
  <p>10. Students should at all times show respect and deference to school authorities and teaching and non-teaching staff. They must be gentle and polite to their companions. Student whose conduct is injurious to the moral tone of the school or incompatibility with good discipline will be liable to removal from the school. 
    </p>
  <p>11. Student who falls twice in same class will not be allowed to continue his/ser studies in the school. 
    </p>
    <p>12. Refinement of manner , habit 0f obedience and order, neatness in person and dress and punctuality are required all the time.
      </p>
