<!--The content below is only a placeholder and can be replaced.-->
<body>
<header class="school-name">
  <h1 [ngStyle]="title"><b>CHALK and DUSTER</b></h1>
</header>
  <header>

    
    <ul class="navigation">
    <li>
    <a href="#">About Us</a>
    </li>
    <li>
    <a href="#">Contact Us</a>
    </li>
    <li>
    <a href="#">Registration</a>
    </li>
    <li>
    <a href="#">Infrastructure</a>
    </li>
    <li>
      <a href="#">About School</a>
      </li>
    <li>
    <a href="#">Home</a>
    </li>
    </ul>
    </header>
    <br>
    <br>
    <br>
    <hr>


    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        </ol>
      
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="./assets/img/home.jpg" alt="...">
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <img src="./assets/img/class.jpg" alt="..." class="img-rounded">
            <div class="carousel-caption">
              ...
            </div>
          </div>
         
        
        <div class="item">
          <img src="./assets/img/lib.jpg" alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>

      <div class="item">
        <img src="./assets/img/lab.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
      </div>
      

      <div class="item">
        <img src="./assets/img/play.jpg" alt="...">
        <div class="carousel-caption">
         ...
        </div>
      </div>
     
      <div class="item">
        <img src="./assets/img/plays.jpg" alt="...">
        <div class="carousel-caption">
          ...
        </div>
        </div>
     
      <div class="item">
        <img src="./assets/img/ground.jpg" alt="...">
          <div class="carousel-caption">
          ...
          </div>
      </div>
      ...
      </div>  
        
      
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="footer">
        <p>@copyright 2018 Chalk And Duster School.All Rights Reserved</p>
      </div>
      <app-registeration></app-registeration>


</body>
<router-outlet></router-outlet>