<!--The content below is only a placeholder and can be replaced.-->
<body>
<header class="school-name">
  <div class="logo">
    <img src="./assets/img/school-logo-03.jpg">
  </div>
  <h1 [ngStyle]="title"><b>ESSENCE HIGH SCHOOL</b></h1>
</header>
<header>
        <ul class="navigation">
            <li>
                <div class="dropdown">
                    <button class="dropbtn">About School</button>
                    <div class="dropdown-content">
                      <a routerLink="/transport">Transportation</a>
                      <a routerLink="/rules">Rules & Regulations</a>
                      <a routerLink="/mission">Mission</a>
                    </div>
                  </div>
                </li>
        <li>
        <a routerLink="/contactus">Contact Us</a>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">Infrastucture</button>
            <div class="dropdown-content">
              <a routerLink="/ip">Time table</a>
              <a routerLink="/fee">Fee Structure</a>
              <a routerLink="/requirement">Requirements</a>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/photogallery">photogallery</a>  
        </li>
        <li>
          <a routerLink="/studentlogin">Student Login</a>
        </li>
        <li>
          <a routerLink="/employeelogin">Employee Login</a>
        </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn">Registeration</button>
                <div class="dropdown-content">
                  <a routerLink="/forstudent">For Student</a>
                  <a routerLink="/foremployee">For Employee</a>
                </div>
              </div>
          </li>
        <li>
          <a routerLink="">Home</a>
          </li>
        </ul>    
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<router-outlet></router-outlet>

      <div class="footer">
        <p>@copyright 2018 Essence High School.All Rights Reserved</p>
      </div>