<h2>Time Table</h2>
<h3>Nur-K.G.2</h3>
<table class="table table-bordered">
    <thead>
      <tr>
          <th scope="col">Days/time</th>
        <th scope="col">9-10</th>
        <th scope="col">10-11</th>
        <th scope="col">11-12</th>
        <th scope="col">12-1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>Math</td>
        <td>English</td>
        <td>Lunch</td>
        <td>Games</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>Math</td>
        <td>English</td>
        <td>Lunch</td>
        <td>Games</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>English</td>
        <td>Math</td>
        <td>Lunch</td>
        <td>Games</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>English</td>
        <td>Math</td>
        <td>Lunch</td>
        <td>Games</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>Math</td>
        <td>English</td>
        <td>Lunch</td>
        <td>Games</td>
      </tr>
      </tbody>
      </table>
      <hr>
      <h3> Class I-X</h3>
      <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">Days/time</th>
              <th scope="col">9-9:45</th>
              <th scope="col">9:45-10:30</th>
              <th scope="col">10:30-11:15</th>
              <th scope="col">11:15-12</th>
              <th scope="col">12-12:45</th>
              <th scope="col">12:45-1:30</th>
              <th scope="col">1:30-2:15</th>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>Math</td>
        <td>English</td>
        <td>Science</td>
        <td>Lunch</td>
        <td>Social</td>
        <td>Games</td>
        <td>Hindi</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>Math</td>
        <td>English</td>
        <td>Science</td>
        <td>Lunch</td>
        <td>Social</td>
        <td>Games</td>
        <td>Hindi</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>Math</td>
        <td>English</td>
        <td>Science</td>
        <td>Lunch</td>
        <td>Social</td>
        <td>Games</td>
        <td>Hindi</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>Math</td>
        <td>English</td>
        <td>Science</td>
        <td>Lunch</td>
        <td>Games</td>
        <td>Social</td>
        <td>Hindi</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>Hindi</td>
        <td>Science</td>
        <td>English</td>
        <td>Lunch</td>
        <td>Social</td>
        <td>Games</td>
        <td>Math</td>
      </tr>
      </tbody>
      </table>
      <h3>Class XI-XII NON MEDICAL-MEDICAL</h3>
      <hr>
      <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">Days/time</th>
              <th scope="col">9-9:45</th>
              <th scope="col">9:45-10:30</th>
              <th scope="col">10:30-11:15</th>
              <th scope="col">11:15-12</th>
              <th scope="col">12-12:45</th>
              <th scope="col">12:45-1:30</th>
              <th scope="col">1:30-2:15</th>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>Math</td>
        <td>English</td>
        <td>Chemistry</td>
        <td>Lunch</td>
        <td>Physics</td>
        <td>Games</td>
        <td>Physics Lab</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>Math</td>
        <td>English</td>
        <td>Chemistry</td>
        <td>Lunch</td>
        <td>Physics</td>
        <td>Games</td>
        <td>Physics Lab</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>Math</td>
        <td>English</td>
        <td>Chemistry</td>
        <td>Lunch</td>
        <td>Physics</td>
        <td>Games</td>
        <td>Physics Lab</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>Math</td>
        <td>English</td>
        <td>Chemistry</td>
        <td>Lunch</td>
        <td>Physics</td>
        <td>Games</td>
        <td>Chemistry Lab</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>Math</td>
        <td>English</td>
        <td>Chemistry</td>
        <td>Lunch</td>
        <td>Physics</td>
        <td>Games</td>
        <td>Chemistry Lab</td>
      </tr>
      <tr>
          <th scope="row">Saturday</th>
          <td>Math</td>
          <td>English</td>
          <td>Chemistry</td>
          <td>Lunch</td>
          <td>Physics</td>
          <td>Games</td>
          <td>Chemistry Lab</td>
        </tr>
      </tbody>
      </table>
      <hr>
      <h3>Class XI-XII Commerce</h3>
      <table class="table table-bordered">
          <thead>
            <tr>
                <th scope="col">Days/time</th>
              <th scope="col">9-9:45</th>
              <th scope="col">9:45-10:30</th>
              <th scope="col">10:30-11:15</th>
              <th scope="col">11:15-12</th>
              <th scope="col">12-12:45</th>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>Economics</td>
        <td>English</td>
        <td>Accountancy</td>
        <td>BuisnessStudies</td>
        <td>Mathematics</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>Economics</td>
        <td>English</td>
        <td>Accountancy</td>
        <td>BuisnessStudies</td>
        <td>Mathematics</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>Economics</td>
        <td>English</td>
        <td>Accountancy</td>
        <td>BuisnessStudies</td>
        <td>Mathematics</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>English</td>
        <td>Economics</td>
        <td>Accountancy</td>
        <td>BuisnessStudies</td>
        <td>Mathematics</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>Economics</td>
        <td>English</td>
        <td>Accountancy</td>
        <td>Mathematics</td>
        <td>BuisnessStudies</td>
      </tr>
      <tr>
          <th scope="row">Saturday</th>
          <td>Economics</td>
          <td>English</td>
          <td>BuisnessStudies</td>
          <td>Accountancy</td>
          <td>Mathematics</td>
        </tr>
      </tbody>
      </table>



          
      

  