<br>
<h1><b>Requirements</b></h1>
<P>The following are to be submitted along with the completed application form:

  </P>
  <p>1.Four photographs of student (one attached to application form)
    </p>
    <p>2.One photograph of mother
      </p>
      <p>3.One photograph of father
        </p>
        <p>4.Attested copy of birth certificate of student clearly specifying date of birth (issued by Municipal Corporation or any other competent Authority)
          </p>
          <p>5.Transfer certificate (if applicable) from previous school.
            </p>
            <p>6.Report/mark sheet (if applicable) from previous school.
              </p>
