<h2>Fee structure for Session 2018-2019</h2>
<hr>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Prospectus</td>
      <td>500</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Registration</td>
      <td>3000</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Admission (Nur-10)</td>
      <td>32000</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Adimssion (XI-XII)</td>
      <td>16000</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Annual Charges</td>
      <td>10500</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>Refundable Security</td>
      <td>6000</td>
    </tr>
    </tbody>
    </table>
    <hr>
    <br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">SR.No</th>
      <th scope="col">Class</th>
      <th scope="col">Tution Fee(Per Month</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nur-K.G-2</td>
      <td>3150</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Classes 1-5</td>
      <td> 3200</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Classes 6-8</td>
      <td>3350</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Classes 9-10</td>
      <td>3550</td>
      <tr>
        <th scope="row">3</th>
        <td>Classes 11-12(Arts & Commerce)</td>
        <td>3850</td>
        <tr>
          <th scope="row">3</th>
          <td>Classes 11-12(Medical & Non-Medical)</td>
          <td>4100</td>
  </tbody>
</table>

