<br>
  <h3><b>Transportation</b></h3>
  <p>School buses are accomplished by new technology and all safety measure being assured by government. To ensure total safety of children the buses have supervisors on board. School has given mobile phone to each driver in case of any emergency . A first-aid box is also kept within reach, to attend to any emergency. School buses almost cover the entire area of the city. Parents who wish to send their wards in the school bus should apply for the same to the Principal. Bus charges are to be paid along with the fees
    </p>